
/* creating a base of colors to use in the game */
:root {
    --background: #3d5a80;
    --title: #ee6c4d;
    --secondary: #e0fbfc;
    --third: rgba(255, 179, 0, 0.964);
    --winner: rgba(5, 177, 8, 0.964);
    --intro:  rgba(74, 3, 255, 0.964);
    --main: #293241;
    --main-shadow: #98c1d9;
  }

/* :root {
--background: #606c38;
--title: #283618;
--secondary: #fefae0;
--main: #dda15e;
--main-shadow: #dda15e;
} */

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

#title {
    font-family: sans-serif;
    font-size: 15vmax;
    position: fixed;
    color: var(--title);
    text-shadow: 10px 10px 20px;
}
#board {
    background-color: var(--background);
    height: 100vh;
    position: relative;
    
}

#button {
    background-color: var(--main);
    position: absolute;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 10px 4px 30px var(--main-shadow);
    text-align: center;

}
#button:hover {
    background-color:var(--title);
    box-shadow: 10px 4px 30px var(--title);
    transition: 0.3
    
    s;
}

#metronome {
    background-color: var(--secondary);
    position: absolute;
    border: 0px solid;
    border-radius: 20px;
    box-shadow: 4px 4px 50px var(--secondary);
    text-align: center;
    

}

#start-button {
    background-color: var(--main);
    position: absolute;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 10px 4px 30px var(--main-shadow);
    text-align: center;
    font-size: 4.5vmax;
    color: var(--title);


}
#start-button:hover {
    background-color:var(--title);
    box-shadow: 10px 4px 30px var(--title);
    transition: 0.7s;
    color: var(--third);

}

